:root{
    --background-body: #350000;
    --background-header: #350000;
    --color-base: hsl(0, 0%, 0%);
    --color-primary: #ff0000;
    --color-hover: #000000;
    --color-hover-strong: #af0000;
    --color-contrast: #ff0000;
    --color-success: #3a1414;
    --button-dark: #ff0000;
    --notification--error: #4d0c0a;
    --notification--success: #1f0000;
    --notification--special: #5c2626;
}

body{
    font-family: 'Montserrat', sans-serif;
}

img[src*=".svg"]{
    filter: invert(0.9);
}

